<a href="https://colab.research.google.com/github/radhikasundar20/MLTSA22_RSundar/blob/main/test/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
pd.read_csv("https://raw.githubusercontent.com/fedhere/MLTSA22_FBianco/main/Lab1LinearRegression/urbanization.csv")

    year  percentage
0   1970       73.60
1   1975       73.65
2   1980       73.74
3   1985       74.49
4   1990       75.30
5   1995       77.26
6   2000       79.06
7   2005       79.93
8   2008       80.44
9   2009       80.61
10  2010       80.77
11  2011       80.94
12  2012       81.12
13  2013       81.30
14  2014       81.48
15  2015       81.67
16  2016       81.86
17  2017       82.06
18  2018       82.26
19  2019       82.46
20  2020       82.66